<h2> <%= @question %> </h2>
<% if @question == "I am going to work"%>
  <h4>Great<h4>
<% elsif @question[-1] == "?" %>
  <h4>"Silly question, get dressed and go to work!"</h4>
<% else%>
  <h4>"I don't care, get dressed and go to work!"</h4>
<% end %>
